<div class="col-sm-6">
    <div class="search-hotel" style="text-align: center;">
        <form action="#" method="post" style="display: flex; align-items: center; justify-content: center;">
            <input 
            type="search" 
            placeholder="Tên món..." 
                name="search" 
                [(ngModel)]="searchText" 
             style="background:#dddbdb;color:black;"
             >
            <input type="submit" value=" " style="background-color:#e74a3b;">
        </form>
    </div>
    <div >
        <div class="col-sm-12" >
            <button class="btn btn-success" style="float: left;margin:18px 0px; border-radius: 0;" (click)="onNewProduct()">Thêm Món Mới</button>
        </div>
    </div>
    <div class="left-ads-display">
            <div class="clearfix"></div>
            <div class="product-sec1">
                <app-admin-product-item
                *ngFor="let product of products|filter:searchText"
                [product]="product"
                [index]="product.id"
                class="col-md-6"
                style="margin-bottom: 18px;"
                >
                </app-admin-product-item>
            </div>
    </div>
</div>

<router-outlet></router-outlet>
