<div class="ads-grid_shop">
  <div class="shop_inner_inf">
    <h3 class="head">VỀ CHÚNG TÔI</h3>
    <p class="head_para">Good Tea - Great Taste</p>
    <div class="inner_section_w3ls">
      <div class="col-md-6 news-left">
        <img
          src="../../assets/images/Hinh-CH.jpg"
          alt=" "
          class="img-responsive"
        />
      </div>
      <div class="col-md-6 news-right">
        <h4>CÂU CHUYỆN THƯƠNG HIỆU</h4>
        <p class="sub_p">
          Tên gọi Downy xuất phát từ ý nghĩa trong tiếng Hoa là Trà cung đình. Thời xưa, các loại trà tốt nhất thường được các vị hoàng thân quý tộc ngự dùng. Ngày nay, Downy mong muốn phục vụ các loại trà tốt nhất cho thực khách, cũng như chính tên gọi của thương hiệu. Kể từ khi được thành lập vào năm 2006 tại Đài Loan, chuỗi cửa hàng Downy đã mở rộng trên khắp 19 quốc gia với 1.500 cửa hàng và con số này vẫn tiếp tục tăng trưởng không ngừng. Qua nhiều năm nỗ lực phát triển, Downy đã trở nên phổ biến với khách hàng từ nhiều quốc gia và trở thành một trong những thương hiệu trà đáng tin cậy hàng đầu trên thế giới.
        </p>
        <h4>DOWNY VIỆT NAM</h4>
        <p class="sub_p">
          Thương hiệu Downy được công ty TNHH Phát Huy Thông chính thức đưa vào hoạt động tại thị trường Việt Nam từ ngày 11/10/2014. Trải qua hơn năm năm hoạt động, công ty TNHH Phát Huy Thông – đơn vị nhượng quyền độc quyền của Downy tại Việt Nam, đã đưa thương hiệu phát triển nhanh chóng và trở thành một trong những điểm đến thân thuộc của các bạn trẻ yêu thích văn hóa trà sữa và mong muốn trải nghiệm sản phẩm trà uy tín chất lượng với nguồn gốc xuất xứ rõ ràng.
        </p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="mid_services">
  <div class="col-md-6 according_inner_grids">
    <h3 class="heading two">GIÁ TRỊ CỐT LÕI</h3>
    <div class="according_info">
      <div
        class="panel-group about_panel"
        id="accordion"
        role="tablist"
        aria-multiselectable="true"
      >
        <div
          class="panel panel-default"
          style="cursor: pointer"
          (click)="tab1()"
        >
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title asd">
              <a class="pa_italic" role="button">
                <span
                  class="glyphicon glyphicon-minus"
                  aria-hidden="true"
                ></span
                ><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>1. CHẤT LƯỢNG HÀNG ĐẦU
              </a>
            </h4>
          </div>
          <div
            id="collapseOne"
            class="panel-collapse collapse in"
            role="tabpanel"
            aria-labelledby="headingOne"
            [style.display]="tabOne"
          >
            <div class="panel-body panel_text">
              An toàn, vệ sinh và ngon miệng. Việc sử dụng các nguyên liệu an toàn, tự nhiên và vệ sinh là ưu tiên hàng đầu của Downy. Hương vị tuyệt hảo của các món thức uống là mục đích quan trọng tiếp theo mà chúng tôi muốn hướng đến.
            </div>
          </div>
        </div>
        <div
          class="panel panel-default"
          style="cursor: pointer"
          (click)="tab2()"
        >
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title asd">
              <a
                class="pa_italic collapsed"
                role="button"
                data-toggle="collapse"
                data-parent="#accordion"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                <span
                  class="glyphicon glyphicon-minus"
                  aria-hidden="true"
                ></span
                ><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>2. DỊCH VỤ THÂN THIỆN & CHUYÊN NGHIỆP
              </a>
            </h4>
          </div>
          <div
            id="collapseTwo"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="headingTwo"
            [style.display]="tabTwo"
          >
            <div class="panel-body panel_text">
              Downy mong muốn làm hài lòng khách hàng tốt nhất với tác phong phục vụ chuyên nghiệp và thân thiện, luôn lắng nghe những đóng góp của khách hàng.
            </div>
          </div>
        </div>
        <div
          class="panel panel-default"
          style="cursor: pointer"
          (click)="tab3()"
        >
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title asd">
              <a
                class="pa_italic collapsed"
                role="button"
                data-toggle="collapse"
                data-parent="#accordion"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                <span
                  class="glyphicon glyphicon-minus"
                  aria-hidden="true"
                ></span
                ><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>3. THƯƠNG HIỆU ĐÁNG TIN CẬY
              </a>
            </h4>
          </div>
          <div
            id="collapseThree"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="headingThree"
            [style.display]="tabThree"
          >
            <div class="panel-body panel_text">
              Dựa trên hai nền tảng cốt lõi là Chất Lượng và Dịch Vụ, Downy luôn nỗ lực xây dựng và duy trì hình ảnh thương hiệu đáng tin cậy trong mắt khách hàng.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 mid_services_img">
    <div class="bar-grids">
      <h3 class="heading two three">QUÁ TRÌNH PHÁT TRIỂN</h3>
      <div class="skill_info">
        <div class="panel panel-default" style="cursor: pointer">
          <div class="panel-heading" role="tab" id="heading2014">
            <h4 class="panel-title asd">
              <a
                class="pa_italic collapsed"
                role="button"
                data-toggle="collapse"
                data-parent="#accordion"
                aria-expanded="false"
                aria-controls="collapse2014"
              >
                <span
                  class="glyphicon glyphicon-minus"
                  aria-hidden="true"
                ></span
                ><i class="glyphicon glyphicon-minus" aria-hidden="true"></i
                >2014. Phát Huy Thông mở cửa hàng Downy đầu tiên tại số 79 Hồ Tùng Mậu, Quận 1, Thành Phố Hồ Chí Minh
              </a>
            </h4>
          </div>
          <div
            id="collapse2014"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="heading2014"
            [style.display]="tab2014"
          >
            <div class="panel-body panel_text"></div>
          </div>
        </div>
        <div class="panel panel-default" style="cursor: pointer">
          <div class="panel-heading" role="tab" id="heading2015">
            <h4 class="panel-title asd">
              <a
                class="pa_italic collapsed"
                role="button"
                data-toggle="collapse"
                data-parent="#accordion"
                aria-expanded="false"
                aria-controls="collapse2015"
              >
                <span
                  class="glyphicon glyphicon-minus"
                  aria-hidden="true"
                ></span
                ><i class="glyphicon glyphicon-minus" aria-hidden="true"></i
                >2015. Phát triển thêm 3 cửa hàng tại Thành Phố Hồ Chí Minh
              </a>
            </h4>
          </div>
          <div
            id="collapse2015"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="heading2015"
            [style.display]="tab2015"
          >
            <div class="panel-body panel_text"></div>
          </div>
        </div>
        <div
          class="panel panel-default"
          style="cursor: pointer"
          (click)="tab16()"
        >
          <div class="panel-heading" role="tab" id="heading2016">
            <h4 class="panel-title asd">
              <a
                class="pa_italic collapsed"
                role="button"
                data-toggle="collapse"
                data-parent="#accordion"
                aria-expanded="false"
                aria-controls="collapse2016"
              >
                <span
                  class="glyphicon glyphicon-minus"
                  aria-hidden="true"
                ></span
                ><i class="glyphicon glyphicon-minus" aria-hidden="true"></i
                >2016. Phát triển thêm 8 cửa hàng trên cả nước, mở rộng ra các tỉnh thành khác
              </a>
            </h4>
          </div>
          <div
            id="collapse2016"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="heading2016"
            [style.display]="tab2016"
          >
            <div class="panel-body panel_text">
              <p>+ 4 cửa hàng trực thuộc tổng công ty</p>
              <p>+ 4 cửa hàng nhượng quyền</p>
            </div>
          </div>
        </div>
        <div
          class="panel panel-default"
          style="cursor: pointer"
          (click)="tab17()"
        >
          <div class="panel-heading" role="tab" id="heading2017">
            <h4 class="panel-title asd">
              <a
                class="pa_italic collapsed"
                role="button"
                data-toggle="collapse"
                data-parent="#accordion"
                aria-expanded="false"
                aria-controls="collapse2017"
              >
                <span
                  class="glyphicon glyphicon-minus"
                  aria-hidden="true"
                ></span
                ><i class="glyphicon glyphicon-minus" aria-hidden="true"></i
                >2017. Phát triển thêm 15 cửa hàng trên cả nước
              </a>
            </h4>
          </div>
          <div
            id="collapse2017"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="heading2017"
            [style.display]="tab2017"
          >
            <div class="panel-body panel_text">
              <p>+ 7 cửa hàng trực thuộc tổng công ty</p>
              <p>+ 8 cửa hàng nhượng quyền</p>
            </div>
          </div>
        </div>
        <div
          class="panel panel-default"
          style="cursor: pointer"
          (click)="tab18()"
        >
          <div class="panel-heading" role="tab" id="heading2018">
            <h4 class="panel-title asd">
              <a
                class="pa_italic collapsed"
                role="button"
                data-toggle="collapse"
                data-parent="#accordion"
                aria-expanded="false"
                aria-controls="collapse2018"
              >
                <span
                  class="glyphicon glyphicon-minus"
                  aria-hidden="true"
                ></span
                ><i class="glyphicon glyphicon-minus" aria-hidden="true"></i
                >2018. Phát triển thêm 3 cửa hàng trên cả nước, mở rộng ra các tỉnh thành khác
              </a>
            </h4>
          </div>
          <div
            id="collapse2018"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="heading2018"
            [style.display]="tab2018"
          >
            <div class="panel-body panel_text">
              <p>+ 2 cửa hàng trực thuộc tổng công ty</p>
              <p>+ 1 cửa hàng nhượng quyền</p>
            </div>
          </div>
        </div>
        <div
          class="panel panel-default"
          style="cursor: pointer"
          (click)="tab19()"
        >
          <div class="panel-heading" role="tab" id="heading2019">
            <h4 class="panel-title asd">
              <a
                class="pa_italic collapsed"
                role="button"
                data-toggle="collapse"
                data-parent="#accordion"
                aria-expanded="false"
                aria-controls="collapse2019"
              >
                <span
                  class="glyphicon glyphicon-minus"
                  aria-hidden="true"
                ></span
                ><i class="glyphicon glyphicon-minus" aria-hidden="true"></i
                >2019. Phát triển thêm 9 cửa hàng trên cả nước, mở rộng ra các tỉnh thành khác
              </a>
            </h4>
          </div>
          <div
            id="collapse2019"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="heading2019"
            [style.display]="tab2019"
          >
            <div class="panel-body panel_text">
              <p>+ 7 cửa hàng trực thuộc tổng công ty</p>
              <p>+ 2 cửa hàng nhượng quyền</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-newsletter></app-newsletter>
