<div class="ads-grid_shop">
  <div class="shop_inner_inf">
    <h3 class="head">About Us</h3>
    <p class="head_para">Good Tea - Great Taste</p>
    <div class="inner_section_w3ls">
      <div class="col-md-6 news-left">
        <img
          src="../../assets/images/Hinh-CH.jpg"
          alt=" "
          class="img-responsive"
        />
      </div>
      <div class="col-md-6 news-right">
        <h4>BRAND STORY</h4>
        <p class="sub_p">
          “Gong Cha” in Chinese means to offer the best tea to the Emperor from
          all possessions. It represents the highest quality and
          self-expectation. Established in 2006, Gong cha has been appreciated
          by its customers, relying on good words of mouth and unique customized
          services originated in Taiwan.From then on, the story of Gong cha has
          widely spread, and Gong cha has become one of the best-known quality
          tea providers in the world. Nowadays, Gong Cha has blossomed in more
          than 20 regions all over the world.
        </p>
        <h4>GONG CHA VIETNAM</h4>
        <p class="sub_p">
          Gong Cha was officially put into operation in Vietnam market by Golden
          Trust Co., Ltd., in October 11st, 2014. Over five years of operation,
          Golden Trust Co., Ltd.- the Master of Franchise of Gong Cha in
          Vietnam, has made the brand grow expeditiously and become one of the
          most favorite F&B brands for young generation who loves milk tea and
          has the desire to experience qualified tea products from only selected
          ingredients.
        </p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="mid_services">
  <div class="col-md-6 according_inner_grids">
    <h3 class="heading two">OUR CORE VALUE</h3>
    <div class="according_info">
      <div
        class="panel-group about_panel"
        id="accordion"
        role="tablist"
        aria-multiselectable="true"
      >
        <div
          class="panel panel-default"
          style="cursor: pointer"
          (click)="tab1()"
        >
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title asd">
              <a class="pa_italic" role="button">
                <span
                  class="glyphicon glyphicon-minus"
                  aria-hidden="true"
                ></span
                ><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>1.
                TOP QUALITY
              </a>
            </h4>
          </div>
          <div
            id="collapseOne"
            class="panel-collapse collapse in"
            role="tabpanel"
            aria-labelledby="headingOne"
            [style.display]="tabOne"
          >
            <div class="panel-body panel_text">
              Safe, hygienic and delicacy. The use of safe, natural and hygienic
              ingredients is Gong Cha’s top priority. The perfect taste of the
              drinks is the next important goal we want to address.
            </div>
          </div>
        </div>
        <div
          class="panel panel-default"
          style="cursor: pointer"
          (click)="tab2()"
        >
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title asd">
              <a
                class="pa_italic collapsed"
                role="button"
                data-toggle="collapse"
                data-parent="#accordion"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                <span
                  class="glyphicon glyphicon-minus"
                  aria-hidden="true"
                ></span
                ><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>2.
                FRIENDLY & PROFESSIONAL SERVICES
              </a>
            </h4>
          </div>
          <div
            id="collapseTwo"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="headingTwo"
            [style.display]="tabTwo"
          >
            <div class="panel-body panel_text">
              Gong Cha always desires to satisfy customers with professional and
              friendly service as well as listening to customers’ contributions
              in order to improve the Gong Cha’s quality.
            </div>
          </div>
        </div>
        <div
          class="panel panel-default"
          style="cursor: pointer"
          (click)="tab3()"
        >
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title asd">
              <a
                class="pa_italic collapsed"
                role="button"
                data-toggle="collapse"
                data-parent="#accordion"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                <span
                  class="glyphicon glyphicon-minus"
                  aria-hidden="true"
                ></span
                ><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>3.
                TRUSTED BRANDS
              </a>
            </h4>
          </div>
          <div
            id="collapseThree"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="headingThree"
            [style.display]="tabThree"
          >
            <div class="panel-body panel_text">
              Based on two core foundations, Quality and Service, Gong Cha
              consistently strives to build and maintain a reliable brand image
              in the eyes of customers.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 mid_services_img">
    <div class="bar-grids">
      <h3 class="heading two three">DEVELOPMENT PROCESS</h3>
      <div class="skill_info">
        <div class="panel panel-default" style="cursor: pointer">
          <div class="panel-heading" role="tab" id="heading2014">
            <h4 class="panel-title asd">
              <a
                class="pa_italic collapsed"
                role="button"
                data-toggle="collapse"
                data-parent="#accordion"
                aria-expanded="false"
                aria-controls="collapse2014"
              >
                <span
                  class="glyphicon glyphicon-minus"
                  aria-hidden="true"
                ></span
                ><i class="glyphicon glyphicon-minus" aria-hidden="true"></i
                >2014. Golden Trust Co., Ltd. opened the first Gong Cha Store at
                Ho Tung Mau Street, District 01, Ho Chi Minh City.
              </a>
            </h4>
          </div>
          <div
            id="collapse2014"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="heading2014"
            [style.display]="tab2014"
          >
            <div class="panel-body panel_text"></div>
          </div>
        </div>
        <div class="panel panel-default" style="cursor: pointer">
          <div class="panel-heading" role="tab" id="heading2015">
            <h4 class="panel-title asd">
              <a
                class="pa_italic collapsed"
                role="button"
                data-toggle="collapse"
                data-parent="#accordion"
                aria-expanded="false"
                aria-controls="collapse2015"
              >
                <span
                  class="glyphicon glyphicon-minus"
                  aria-hidden="true"
                ></span
                ><i class="glyphicon glyphicon-minus" aria-hidden="true"></i
                >2015. Extended 3 more stores in Ho Chi Minh City.
              </a>
            </h4>
          </div>
          <div
            id="collapse2015"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="heading2015"
            [style.display]="tab2015"
          >
            <div class="panel-body panel_text"></div>
          </div>
        </div>
        <div
          class="panel panel-default"
          style="cursor: pointer"
          (click)="tab16()"
        >
          <div class="panel-heading" role="tab" id="heading2016">
            <h4 class="panel-title asd">
              <a
                class="pa_italic collapsed"
                role="button"
                data-toggle="collapse"
                data-parent="#accordion"
                aria-expanded="false"
                aria-controls="collapse2016"
              >
                <span
                  class="glyphicon glyphicon-minus"
                  aria-hidden="true"
                ></span
                ><i class="glyphicon glyphicon-minus" aria-hidden="true"></i
                >2016. Developed 8 more stores across Vietnam, expanding to
                other provinces
              </a>
            </h4>
          </div>
          <div
            id="collapse2016"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="heading2016"
            [style.display]="tab2016"
          >
            <div class="panel-body panel_text">
              <p>+ 4 stores under Golden Trust Co., Ltd</p>
              <p>+ 4 sub-franchise stores</p>
            </div>
          </div>
        </div>
        <div
          class="panel panel-default"
          style="cursor: pointer"
          (click)="tab17()"
        >
          <div class="panel-heading" role="tab" id="heading2017">
            <h4 class="panel-title asd">
              <a
                class="pa_italic collapsed"
                role="button"
                data-toggle="collapse"
                data-parent="#accordion"
                aria-expanded="false"
                aria-controls="collapse2017"
              >
                <span
                  class="glyphicon glyphicon-minus"
                  aria-hidden="true"
                ></span
                ><i class="glyphicon glyphicon-minus" aria-hidden="true"></i
                >2017. Developed 15 more store across the country
              </a>
            </h4>
          </div>
          <div
            id="collapse2017"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="heading2017"
            [style.display]="tab2017"
          >
            <div class="panel-body panel_text">
              <p>+ 7 stores under Golden Trust Co., Ltd</p>
              <p>+ 8 sub-franchise stores</p>
            </div>
          </div>
        </div>
        <div
          class="panel panel-default"
          style="cursor: pointer"
          (click)="tab18()"
        >
          <div class="panel-heading" role="tab" id="heading2018">
            <h4 class="panel-title asd">
              <a
                class="pa_italic collapsed"
                role="button"
                data-toggle="collapse"
                data-parent="#accordion"
                aria-expanded="false"
                aria-controls="collapse2018"
              >
                <span
                  class="glyphicon glyphicon-minus"
                  aria-hidden="true"
                ></span
                ><i class="glyphicon glyphicon-minus" aria-hidden="true"></i
                >2018. Broaden 3 more stores across Vietnam, expanding to other
                provinces
              </a>
            </h4>
          </div>
          <div
            id="collapse2018"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="heading2018"
            [style.display]="tab2018"
          >
            <div class="panel-body panel_text">
              <p>+ 2 stores under Golden Trust Co., Ltd</p>
              <p>+ 1 sub-franchise stores</p>
            </div>
          </div>
        </div>
        <div
          class="panel panel-default"
          style="cursor: pointer"
          (click)="tab19()"
        >
          <div class="panel-heading" role="tab" id="heading2019">
            <h4 class="panel-title asd">
              <a
                class="pa_italic collapsed"
                role="button"
                data-toggle="collapse"
                data-parent="#accordion"
                aria-expanded="false"
                aria-controls="collapse2019"
              >
                <span
                  class="glyphicon glyphicon-minus"
                  aria-hidden="true"
                ></span
                ><i class="glyphicon glyphicon-minus" aria-hidden="true"></i
                >2019. Developed 9 more stores across the country
              </a>
            </h4>
          </div>
          <div
            id="collapse2019"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="heading2019"
            [style.display]="tab2019"
          >
            <div class="panel-body panel_text">
              <p>+ 7 stores under Golden Trust Co., Ltd</p>
              <p>+ 2 sub-franchise stores</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-newsletter></app-newsletter>
