<div class="col-sm-6">
    <app-search-order>
    </app-search-order>
    <div class="col-sm-12">
        <div class="left-ads-display">
            <div class="clearfix"></div>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Họ Và Tên</th>
                                <th>Số Điện Thoại</th>
                                <!-- <th>Địa Chỉ</th>
                                <th>Thành Phố</th> -->
                                <th>Tổng Tiền</th>
                                <th>Thanh Toán Bằng</th>
                                <th>Chức Năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of orders; let index = index">
                                <td>{{ index + 1 }}</td>
                                <td>{{ order.user.name }}</td>
                                <td>{{ order.user.phone }}</td>
                                <!-- <td>{{ order.user.address }}</td>
                                <td>{{ order.user.city }}</td> -->
                                <td>{{ order.totalPrice | currency: "VND" }}</td>
                                <td>{{ order.user.payment }}</td>
                                <td style="white-space: nowrap; margin: 18px 0px">
                                    <button class="btn btn-info" [routerLink]="[index]" routerLinkActive="active">
                                        Xem Chi Tiết
                                    </button>
                                    <button class="btn-delele btn btn-danger" style="margin-left: 18px" (click)="deleteOrder()">
                                        Xoá
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>