<div class="clearfix"></div>
<div class="footer_agileinfo_w3">
    <div class="footer_inner_info_w3ls_agileits">
        <div class="col-md-3 footer-left" style="float: left; flex:0;">
            <h2><a [routerLink]="['/']" routerLinkActive="router-link-active" ><span>D</span>owny Shoes </a></h2>
            <p>Downy Shoes was created with the intention of luxury for young people by the shortest and cheapest way</p>
            <ul class="social-nav model-3d-0 footer-social social two">
                <li>
                    <a href="https://www.facebook.com/THChannelReal" class="facebook">
                        <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/THChannelReal" class="twitter">
                        <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/THChannelReal" class="instagram">
                        <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/THChannelReal" class="pinterest">
                        <div class="front"><i class="fa fa-youtube-play" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-youtube-play" aria-hidden="true"></i></div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-9 footer-right" style="float: right; flex:0;">
            <div class="sign-grds" style="display:flex;">
                <div class="col-md-4 sign-gd">
                    <h4>Our <span>Information</span> </h4>
                    <ul>
                        <li><a [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a></li>
                        <li><a [routerLink]="['/about']" routerLinkActive="router-link-active" >About</a></li>
                        <li><a [routerLink]="['/product']" routerLinkActive="router-link-active" >Shop Now</a></li>
                        <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact</a></li>
                    </ul>
                </div>

                <div class="col-md-5 sign-gd-two">
                    <h4>Store <span>Information</span></h4>
                    <div class="address">
                        <div class="address-grid">
                            <div class="address-left">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                            <div class="address-right">
                                <h6>Phone Number</h6>
                                <p>+84 0937928473</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="address-grid">
                            <div class="address-left">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            <div class="address-right">
                                <h6>Email Address</h6>
                                <p>Email :<a href="mailto:thchannel1258vn@gmail.com"> thchannel1258vn@gmail.com</a></p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="address-grid">
                            <div class="address-left">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                            <div class="address-right">
                                <h6>Location</h6>
                                <p>828 Sư Vạn Hạnh, Phường 12, Quận 10, Thành phố Hồ Chí Minh, Vietnam

                                </p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 sign-gd flickr-post">
                    <h4>Developer <span>Information</span></h4>
                    <ul style="padding: 0;">
                        <li>
                            <a href="https://www.facebook.com/profile.php?id=100011651893331">
                                <img src="https://scontent.fhan2-3.fna.fbcdn.net/v/t1.6435-9/117832490_1186366985095020_1194430088731854818_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=T7HcXgOaQC0AX_dUUTU&_nc_ht=scontent.fhan2-3.fna&oh=761b45435b745e975180f3292b658d90&oe=60CE967E" alt=" " class="img-responsive" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/TH1258vn">
                                <img src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.6435-1/p320x320/89828691_1014302982304657_6514200344069668864_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=7206a8&_nc_ohc=8JFlfdxIi2cAX_tB1t_&_nc_ht=scontent.fhan2-4.fna&tp=6&oh=bfd96cc6b2eacf8a0ef6b47298c89f07&oe=60CE01B8" alt=" " class="img-responsive" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>
</div>
