<div class="clearfix"></div>
<div class="footer_agileinfo_w3">
    <div class="footer_inner_info_w3ls_agileits">
        <div class="col-md-3 footer-left" style="float: left; flex:0;">
            <h2><a [routerLink]="['/']" routerLinkActive="router-link-active" ><span>G</span>ongcha Milktea </a></h2>
            <p>Gong Cha was officially put into operation in Vietnam market by Golden Trust Co., Ltd., in October 11st, 2014.</p>
            <ul class="social-nav model-3d-0 footer-social social two">
                <li>
                    <a href="https://www.facebook.com/" class="facebook">
                        <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="https://www.twitter.com/" class="twitter">
                        <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" class="instagram">
                        <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="https://www.pinterest.com/" class="pinterest">
                        <div class="front"><i class="fa fa-youtube-play" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-youtube-play" aria-hidden="true"></i></div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-9 footer-right" style="float: right; flex:0;">
            <div class="sign-grds" style="display:flex;">
                <div class="col-md-4 sign-gd">
                    <h4>Our <span>Information</span> </h4>
                    <ul>
                        <li><a [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a></li>
                        <li><a [routerLink]="['/about']" routerLinkActive="router-link-active" >About</a></li>
                        <li><a [routerLink]="['/product']" routerLinkActive="router-link-active" >Shop Now</a></li>
                        <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact</a></li>
                    </ul>
                </div>

                <div class="col-md-5 sign-gd-two">
                    <h4>Store <span>Information</span></h4>
                    <div class="address">
                        <div class="address-grid">
                            <div class="address-left">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                            <div class="address-right">
                                <h6>Phone Number</h6>
                                <p>+84 975056938</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="address-grid">
                            <div class="address-left">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            <div class="address-right">
                                <h6>Email Address</h6>
                                <p>Email :<a href="mailto:luong.dthong@gmail.com"> luong.dthong@gmail.com</a></p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="address-grid">
                            <div class="address-left">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                            <div class="address-right">
                                <h6>Location</h6>
                                <p>828 Sư Vạn Hạnh, Phường 13, Quận 10, TP.HCM

                                </p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 sign-gd flickr-post">
                    <h4>Developer <span>Posts</span></h4>
                    <ul style="padding: 0;">
                        <li>
                            <a href="https://www.facebook.com/luongdthong28899">
                                <img src="https://scontent.fsgn5-3.fna.fbcdn.net/v/t1.6435-9/36722354_162822201254608_3787018491907801088_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=amHDiKa0dsUAX_AsI4X&_nc_ht=scontent.fsgn5-3.fna&oh=00_AT-nG19xE0IdQQxSPpdOJb3R6SjL6J3MOVWPl3xvhvZJwA&oe=62AACD08" alt=" " class="img-responsive" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/quochuy4307">
                                <img src="https://scontent.fsgn5-2.fna.fbcdn.net/v/t1.6435-9/36641632_2171471056462712_8668584252167684096_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=2yNrtiM-nJ8AX_Bu5kr&_nc_ht=scontent.fsgn5-2.fna&oh=00_AT_WNkZENg4U5F8-MjqedVWl3I3QCmSbjCDDC_Qmpc9WYw&oe=62AA7DF0" alt=" " class="img-responsive" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/truongphat.lam">
                                <img src="https://scontent.fsgn5-5.fna.fbcdn.net/v/t39.30808-6/273860535_2018473324990299_3248093590026324040_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=w2CbPnAMmBYAX8_N8il&_nc_ht=scontent.fsgn5-5.fna&oh=00_AT-REgPEPVLN9Z33d6E5XGS6yV7up-k6NlzaI_rKlBu4_A&oe=6289E21E" alt=" " class="img-responsive" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>
</div>
