<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    

    <div class="ads-grid_shop">
		<div class="shop_inner_inf">
			<div class="privacy about">
                <h3>Thanh toán</h3>
                <!-- .row -->

                <hr class="row brc-default-l1 mx-n1 mb-4" />

                <div class="row">
                    <div class="col-sm-6">
                        <div>
                            <span class="text-sm text-grey-m2 align-middle">Họ và tên: </span>
                            <span class="text-600 text-110 text-black align-middle">{{ user.name }}</span>
                        </div>
                        <div class="text-m2">


                            <div class="my-1">
                                <span class="text-sm text-grey-m2 align-middle">Số điện thoại: </span>
                                <span class="text-600 text-110 text-black align-middle">{{ user.phone }}</span>
                            </div>
                            <div >
                                <span class="text-sm text-grey-m2 align-middle">Địa chỉ: </span>
                                <span class="text-600 text-110 text-black align-middle">{{ user.address }}</span>
                            </div>
                            <div>
                                <span class="text-sm text-grey-m2 align-middle">Thành phố: </span>
                                <span class="text-600 text-110 text-black align-middle">{{ user.city }}</span>
                            </div>
                            <div class="my-1">
                                <span class="text-sm text-grey-m2 align-middle">Thanh toán bằng: </span>
                                <span class="text-600 text-110 text-black align-middle">{{ user.payment }}</span>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="mt-4">
                    <div class="row text-600 text-white bgc-default-tp1 py-25">
                        <div class="d-none d-sm-block col-1">STT</div>
                        <div class="col-9 col-sm-5">Tên Món</div>
                        <div class="d-none d-sm-block col-4 col-sm-2">Số Lượng</div>
                        <div class="d-none d-sm-block col-sm-2">Đơn Giá</div>
                        <div class="col-2">Tổng Tiền</div>
                    </div>
                    <div class="text-95 text-secondary-d3" *ngFor="let cartitem of cart;let i=index">
                        <div class="row mb-2 mb-sm-0 py-25">
                            <div class="d-none d-sm-block col-1">{{ i+1 }}</div>
                            <div class="col-9 col-sm-5">{{cartitem.product.name}} (Size {{cartitem.product.size}} | {{cartitem.product.types}} Đá | {{cartitem.product.sugarTypes}} Đường) </div>
                            <div class="d-none d-sm-block col-2">{{ cartitem.quantity }}</div>
                            <div class="d-none d-sm-block col-2 text-95">{{ cartitem.product.price|currency: "VND" }}</div>
                            <div class="col-2 text-secondary-d2">{{ cartitem.price|currency: "VND"}}</div>
                        </div>

                      
                    </div>

                    <div class="row border-b-2 brc-default-l2"></div>


                    <div class="row mt-3">
                        <div class="col-12 col-sm-7 text-grey-d2 text-95 mt-2 mt-lg-0">
                           
                        </div>

                        <div class="col-12 col-sm-5 text-grey text-90 order-first order-sm-last">
                            <div class="row my-2 align-items-center bgc-danger-l3 p-2">
                                <div class="col-7 text-right">
                                    Tổng Tiền
                                </div>
                                <div class="col-5">
                                    <span class="text-150 text-success-d3 opacity-2">{{totalPrice|currency: "VND"}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />

                    <div class="btn-payment" >
                        <span class="checkout-left" style="padding: 1em; font-size: 1em; color: #fb383b; text-transform: uppercase;
                        text-align: center;">
                            <h4>Cảm ơn bạn đã mua hàng</h4>
                        </span>
                        <div class="checkout-right-basket">
                            <a [routerLink]="['/product']" routerLinkActive="router-link-active" (click)="clickPayment()">THANH TOÁN</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>