<!-- /newsletter-->
<div class="clearfix"></div>
<div class="newsletter_w3layouts_agile">
    <div class="col-sm-6 newsleft">
        <h3>Sign up for Newsletter !</h3>
    </div>
    <div class="col-sm-6 newsright">
        <form action="#" method="post">
            <input type="email" placeholder="Enter your email..." name="emailText" [(ngModel)]="emailText" (ngModelChange)="onEmailChange()">
            <input type="submit"  value="Submit" (click)="onSubscribe()">
        </form>
    </div>

    <div class="clearfix"></div>
</div>
<!-- //newsletter-->