<div class="banner-top">
  <div class="banner-info-wthree">
    <h3 style="position: relative; top: 300px">
      <span style="color: #1e1e1e">Downy</span>Milktea
    </h3>
    <p style="color: #1e1e1e; position: relative; top: 400px">
      ☀️Mùa hè Giải nhiệt😎 ❤️Là vì có Long Nhãn Táo Đỏ Series
    </p>
  </div>
</div>
<div class="grids_bottom">
  <div class="style-grids">
    <div class="col-md-6 style-grid style-grid-1" style="padding-left: 0; padding-right: 0">
      <img
        src="../../assets/images/280813291_542226094166599_8594917750518026313_n.jpg"
        alt="shoe"
      />
    </div>
  </div>
  <div class="col-md-6 style-grid style-grid-2" style="padding-left: 0; padding-right: 0">
    <div class="style-image-1_info">
      <div class="style-grid-2-text_info">
        <h3>😍Ở vũ trụ của bạn có món Trà Xanh Long Nhãn Táo Đỏ không?</h3>
        <p>
          👉Chứ ở vũ trụ của Downy thì thức uống này đang là lựa chọn số 1
          cho các bạn sau 2 năm chưa được thưởng thức các thức uống thuộc dòng
          Long Nhãn Táo Đỏ Series đấy! Đặc biệt hơn phần topping nhãn và táo đỏ
          từ trong mứt cực kỳ nhiều sẽ làm cho trải nghiệm của bạn thêm vui
          miệng!
        </p>
        <div class="shop-button">
          <a [routerLink]="['/product']" routerLinkActive="router-link-active"
            >Order ngay 30% đường, 50% đá, thêm topping trân châu đen cho hôm
            nay nha!🥤</a
          >
        </div>
      </div>
    </div>
    <div class="style-image-2">
      <img
        src="../../assets/images/281207210_5154598824647365_7168413430285895059_n.jpg" style="height: 392px;"
        alt="shoe"
      />
      <div class="style-grid-2-text">
        <!-- <h3>Air force</h3> -->
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<!-- //grids_bottom-->
<!-- /girds_bottom2-->
<div class="grids_sec_2">
  <div class="style-grids_main">
    <div class="col-md-7 grids_sec_2_left">
      <div class="grid_sec_info">
        <div class="style-grid-2-text_info">
          <h3>🥰Làm ly Long Nhãn Táo Đỏ không bé ơi?</h3>
          <p>
            👉Sau 2 năm vắng bóng, series giải nhiệt đã quay trở lại với bạn
            ngay dịp hè này.
          </p>
          <div class="shop-button">
            <a [routerLink]="['/product']" routerLinkActive="router-link-active"
              >Hôm nay là ngày đầu tiên mở bán, order ngay thôi nào!❤️</a
            >
          </div>
        </div>
      </div>
      <div class="style-image-2">
        <img
          src="../../assets/images/280699277_677898026605691_7668527715180184376_n.jpg"
          alt="shoe"
        />
        <div class="style-grid-2-text">
          <!-- <h3>Air force</h3> -->
        </div>
      </div>
    </div>
    <div class="col-md-8 grids_sec_2_left">
      <div class="style-image-2">
        <img
          src="../../assets/images/279317154_5101347863254070_7822246295106842248_n.jpg"
          alt="shoe"
        />
        <div class="style-grid-2-text">
          <!-- <h3>Air force</h3> -->
        </div>
      </div>
      <div class="grid_sec_info">
        <div class="style-grid-2-text_info">
          <h3>😍Bạn đi đâu chơi? Đừng quên ghé Downy “xơi” trà sữa!🥤</h3>
          <p>
            👉Downy đã sẵn sàng phục vụ bạn trên toàn hệ thống mà hoàn toàn
            không tăng phí dịch vụ trong dịp lễ nha!
          </p>
          <div class="shop-button">
            <a [routerLink]="['/contact']" routerLinkActive="router-link-active"
              >📌Dù đang vui chơi ở đâu thì hãy ghé ngay cửa hàng gần bạn nhất để
              nạp chút ngọt ngào nhé!</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
