<div class="ads-grid_shop">
    <div class="shop_inner_inf">
        <div class="privacy about">
            <h3>Thanh Toán</h3>
            <div class="checkout-right">
                <h4 >Giỏ hàng của bạn có: <span>{{cart.length}} món</span></h4>
                <table class="timetable_sub">
                    <tr>
                        <th>STT</th>
                        <th>Món</th>
                        <th>Số lượng</th>
                        <th>Tên món</th>
                        <th>Giá</th>
                        <th>Xoá</th>
                    </tr>
                    <tr class="rem1" *ngFor="let cartItem of cart;let i=index">
                        <td class="invert">
                            {{i+1}}
                        </td>
                        <td class="invert-image" width="514.72px" height="154.41px">
                            <a [routerLink]="['/detail',i]" routerLinkActive="router-link-active" ><img src="{{cartItem.product.imagePath}}" alt=" "  class="img-responsive"></a>
                        </td>
                        <td class="invert">
                            <div class="quantity">
                                <div class="quantity-select">
                                    <div class="entry value-minus" (click)="onDecreaseQuantity(i)">&nbsp;</div>
                                    <div class="entry value"><span>{{cartItem.quantity}}</span></div>
                                    <div class="entry value-plus active" (click)="onIncreaseQuantity(i)">&nbsp;</div>
                                </div>
                            </div>
                        </td>
                        <td class="invert">
                            {{cartItem.product.name}} (Size {{cartItem.product.size}} | {{cartItem.product.types}} Đá | {{cartItem.product.sugarTypes}} Đường) 
                        </td>

                        <td class="invert">
                            {{cartItem.price|currency: "VND"}}
                        </td>
                        <td>
                            <i class="fa fa-times" (click)="onDeleteCartItem(i)" style="cursor:pointer;"></i>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="checkout-left">
                <div class="col-md-4 checkout-left-basket">
                    <h4 [routerLink]="['/product']" routerLinkActive="router-link-active" style="cursor: pointer;" >Tiếp tục mua hàng</h4>
                    <ul>
                        <li *ngFor="let cartItem of cart">{{cartItem.product.name}} (Size {{cartItem.product.size}} | {{cartItem.product.types}} Đá | {{cartItem.product.sugarTypes}} Đường)  <i>-</i> <span>{{cartItem.price|currency: "VND"}} </span></li>
                        <li>Tổng tiền <i>-</i> <span>{{totalPrice|currency: "VND"}}</span></li>
                    </ul>
                    <div class="pay_info" [style.display]="payDisable">
                        <form action="#" [formGroup]="paymentForm" method="post" name="paymentForm" class="creditly-card-form agileinfo_form">
                            <section class="creditly-wrapper wthree, w3_agileits_wrapper">
                                <div class="credit-card-wrapper">
                                    <div class="first-row form-group">
                                        <div class="controls">
                                            <label class="control-label">Chủ thẻ</label>
                                            <input class="billing-address-name form-control" type="text" formControlName="cardName" placeholder="Họ và tên" required="">
                                        </div>
                                        <div class="w3_agileits_card_number_grids">
                                            <div class="w3_agileits_card_number_grid_left">
                                                <div class="controls">
                                                    <label class="control-label">Số thẻ</label>
                                                    <input class="number credit-card-number form-control" formControlName="cardNumber" type="text"  placeholder="•••• •••• ••••" required="">
                                                </div>
                                            </div>
                                            <div class="w3_agileits_card_number_grid_right">
                                                <div class="controls">
                                                    <label class="control-label">CVV</label>
                                                    <input class="security-code form-control" type="text" formControlName="securityCode" placeholder="•••" required="">
                                                </div>
                                            </div>
                                            <div class="clear"> </div>
                                        </div>
                                        <div class="controls">
                                            <label class="control-label">Ngày hết hạn</label>
                                            <input class="expiration-month-and-year form-control" type="text" formControlName="expirationDate" placeholder="MM / YY" required="">
                                        </div>
                                    </div>
                                    
                                </div>
                            </section>
                        </form>
                    </div>
                    <div class="pay_info" [style.display]="payDisable2">
                            <div class="tab-grid">
                                <img class="pp-img" src="../../assets/images/paypal.png" alt="Image Alternative text" title="Image Title">
                                <p>Chú ý: Bạn sẽ đến trang web của PayPal để hoàn tất thanh toán một cách an toàn.</p>
                                <div #PayPal></div>
                                <!-- <div id="myPaypalButtons"></div> -->
                            </div>
                            <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-8 address_form" [style.display]="payDetail">
                    <h4>Vui lòng nhập đầy đủ thông tin</h4>
                    <form [formGroup]="checkoutForm" (ngSubmit)="CheckOut()" class="creditly-card-form agileinfo_form">
                        <section class="creditly-wrapper wrapper">
                            <div class="information-wrapper">
                                <div class="first-row form-group">
                                    <div class="controls">
                                        <label class="control-label">Họ và tên: </label>
                                        <input class="billing-address-name form-control" formControlName="name" type="text" id="name" name="name" placeholder="Họ và tên">
                                    </div>
                                    <div class="card_number_grids">
                                        <div class="card_number_grid_left">
                                            <div class="controls">
                                                <label class="control-label">Số điện thoại:</label>
                                                <input class="form-control" formControlName="phone" type="text" id="phone" placeholder="Số điện thoại">
                                            </div>
                                        </div>
                                        <div class="card_number_grid_right">
                                            <div class="controls">
                                                <label class="control-label">Địa chỉ: </label>
                                                <input class="form-control" formControlName="address" type="text" id="address" placeholder="Địa chỉ">
                                            </div>
                                        </div>
                                        <div class="clear"> </div>
                                    </div>
                                    <div class="controls">
                                        <label class="control-label">Thành phố: </label>
                                        <input class="form-control" formControlName="city" type="text" id="city" placeholder="Thành phố">
                                    </div>
                                    <mat-radio-group formControlName="payment" name="payment" [(ngModel)]="typeSelect" (ngModelChange)="showChange()">
                                        <mat-radio-button style="padding-right: 20px;" *ngFor="let typePay of typesPay" [value]=typePay.name>{{typePay.name}}</mat-radio-button>
                                    </mat-radio-group>                                     
                                    
                                </div>
                                <button type ="submit" [disabled]="!checkoutForm.valid || !paymentForm.valid"  class="submit check_out" >Tiến hành thanh toán</button>
                            </div>
                        </section>
                    </form>
                </div>

                <div class="clearfix"> </div>


                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //top products -->
