
    <div class="col-sm-6" style="margin-top: 80px;">
        <form [formGroup]="orderForm" (ngSubmit)="onSubmitOrder()">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="name">Họ Và Tên</label>
                        <input ngModel type="text" id="name" formControlName="name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="phone">Số Điện Thoại</label>
                        <input ngModel type="number" id="phone" formControlName="phone" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="address">Địa Chỉ</label>
                        <input ngModel type="text" id="address" formControlName="address" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="city">Thành Phố</label>
                        <input ngModel type="text" id="city" formControlName="city" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="payment">Thanh Toán Bằng</label>
                        <input ngModel type="text" id="payment" formControlName="payment" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Mã Đơn Hàng</th>
                                <th>Tên Món</th>
                                <th>Số Lượng</th>
                                <th>Đơn Giá</th>
                                <th>Tổng Tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of orders;let index=index">
                                
                                <button class="btn btn-danger" style="float: left;margin:18px 0px; border-radius: 0;" [routerLink]="[index]"
        routerLinkActive="active">Xem Chi Tiết</button>
                            </tr>
                        </tbody>
                    </table>
                    <table class="timetable_sub">
                        <tr>
                            <th>STT</th>
                            <th>Món</th>
                            <th>Số lượng</th>
                            <th>Tên món</th>
                            <th>Giá</th>
                            <th>Xoá</th>
                        </tr>
                        <tr class="rem1" *ngFor="let cartItem of cart;let i=index">
                            <td class="invert">
                                {{i+1}}
                            </td>
                            <td class="invert-image" width="514.72px" height="154.41px">
                                <a [routerLink]="['/detail',i]" routerLinkActive="router-link-active" ><img src="{{cartItem.product.imagePath}}" alt=" "  class="img-responsive"></a>
                            </td>
                            <td class="invert">
                                <div class="quantity">
                                    <div class="quantity-select">
                                        <div class="entry value"><span>{{cartItem.quantity}}</span></div>
                                    </div>
                                </div>
                            </td>
                            <td class="invert">
                                {{cartItem.product.name}} (Size {{cartItem.product.size}} | {{cartItem.product.types}} Đá | {{cartItem.product.sugarTypes}} Đường) 
                            </td>
    
                            <td class="invert">
                                {{cartItem.price|currency: "VND"}}
                            </td>
                            <td>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12" style="text-align: right;">
                    <button type="submit" 
                    class="btn btn-success mr-1"
                    [disabled]="!orderForm.valid"
                    style="border-radius: 0;"
                    >Lưu</button>
                    <button type="button" class="btn btn-danger" (click)="onCancel()" style="border-radius: 0;">Huỷ</button>
                </div>
            </div>
        </form>
    </div>

