.col-sm-12{
    max-width: 90%;
}
input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched
{
    border: 1px solid red;
}
.form-control{
    font-size: 1.5rem !important;
}
button{
    width: 100px;
    height: 40px;
    font-size: 1.5rem;
}