
    <div class="col-sm-6" style="margin-top: 80px;">
        <form [formGroup]="productForm" (ngSubmit)="onSubmitProduct()">         
            <!-- <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="id">ID Món</label>
                        <input ngModel type="number" id="id" formControlName="id" class="form-control">
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="id">ID Loại Món</label>
                        <input ngModel type="number" id="cateid" formControlName="cateid" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="name">Tên Món</label>
                        <input ngModel type="text" id="name" formControlName="name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="price">Giá</label>
                        <input ngModel type="number" id="price" formControlName="price" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="imagePath">Đường Dẫn Hình Ảnh</label>
                        <input ngModel type="text" id="imagePath" formControlName="imagePath" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="description">Mô Tả</label>
                        <textarea ngModel type="text" id="description" class="form-control" formControlName="description"
                            rows="6"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="information">Thông Tin</label>
                        <textarea ngModel type="text" id="information" class="form-control" formControlName="information"
                            rows="6"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="text-align: right;">
                    <button type="submit" 
                    class="btn btn-success mr-1"
                    [disabled]="!productForm.valid"
                    style="border-radius: 0;"
                    >Lưu</button>
                    <button type="button" class="btn btn-danger" (click)="onCancel()" style="border-radius: 0;">Huỷ</button>
                </div>
            </div>
        </form>
    </div>

