<div class="ads-grid_shop">
    <div class="shop_inner_inf">
        <h3 class="head">LIÊN HỆ VỚI CHÚNG TÔI</h3>
        <p class="head_para">Good Tea - Great Taste</p>
        <div class="inner_section_w3ls">
            <div class="col-md-7 contact_grid_right">
                <h6>Vui lòng điền vào mẫu này để liên hệ với chúng tôi.</h6>
                <form action="#"  method="post">
                    <div class="col-md-6 col-sm-6 contact_left_grid">
                        <input type="text" id="formContact" name="Name" placeholder="Tên" required="">
                        <input type="email" id="formContact" name="Email" placeholder="Email" required="">
                    </div>
                    <div class="col-md-6 col-sm-6 contact_left_grid">
                        <input type="text" id="formContact" name="Telephone" placeholder="Số điện thoại" required="">
                        <input type="text" id="formContact" name="Subject" placeholder="Địa chỉ" required="">
                    </div>
                    <div class="clearfix"> </div>
                    <textarea name="Message" id="formContact" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Nội dung...';}" required="">Nội dung...</textarea>
                    <input type="reset" (click)="onContact()" value="Gửi">
                    <input type="reset" value="Huỷ bỏ">
                </form>
            </div>
            <div class="col-md-5 contact-left">
                <h6>Thông tin liên lạc</h6>
                <div class="visit">
                    <div class="col-md-2 col-sm-2 col-xs-2 contact-icon">
                        <span class="fa fa-home" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10 contact-text">
                        <h4>Địa chỉ</h4>
                        <p>828 Sư Vạn Hạnh, Phường 12, Quận 10, Thành phố Hồ Chí Minh, Vietnam</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="mail-us">
                    <div class="col-md-2 col-sm-2 col-xs-2 contact-icon">
                        <span class="fa fa-envelope" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10 contact-text">
                        <h4>Địa chỉ Email</h4>
                        <p><a href="mailto:luong.dthong@gmail.com">luong.dthong@gmail.com</a></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="call">
                    <div class="col-md-2 col-sm-2 col-xs-2 contact-icon">
                        <span class="fa fa-phone" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10 contact-text">
                        <h4>Số điện thoại</h4>
                        <p>+84 975056938</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="visit">
                    <div class="col-md-2 col-sm-2 col-xs-2 contact-icon">
                        <span class="fa fa-fax" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10 contact-text">
                        <h4>Fax</h4>
                        <p>+1804426349</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"> </div>

        </div>

        <div class="clearfix"></div>

    </div>
</div>
<div class="contact-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15678.011753668769!2d106.66067317971877!3d10.772738906788623!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5fa3e1b5c58675d7!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBOZ2_huqFpIG5n4buvIC0gVGluIGjhu41jIFRQLkhDTSAtIEhVRkxJVA!5e0!3m2!1sen!2s!4v1623786090916!5m2!1sen!2s" 
     style="border:0; padding: 0 6.5em;" allowfullscreen="" loading="lazy"></iframe>
</div>

<!-- /newsletter-->
<app-newsletter></app-newsletter>
<!-- //newsletter-->
<!-- footer -->
